img{
    height: 30%;
    width: 30%;
    display: block;
    border: 2px solid black;
    margin: 5px 0px 0px 20px;

}
a{
    text-align: right;
    display: block;
}
p{
    position: absolute;
    
    margin-left: 500px;
    font-size: 25px;
    margin-top: 100px;
}