h1{
    text-align: center;
}
p{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}
h2{
    text-align: center;
}
ul{
    margin-left: 150px;
}
img{
    width: 15%;
    height: 15%;
    display: block;
    

}

td{
    
    text-align: center;
    vertical-align: middle;
}
table{
    width: 80%;
}
a{
    display: block;
}
.url{
    text-align: right;
}